.header-content {
    background-color: #0f1729;
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-bottom: 2px solid var(--color-gray-100);
    height: 100%;
    width: 100%;
    padding: 18px;
}

.header-logo {
    display: flex;
    gap: 16px;
    align-items: center;
}

main {
    background-color: red;
}

.logo-nome {
    font-size: 42px;
    transition: all 0.5s ease;
    color: var(--color-primary-light);
}

.nome {
    font-size: 32px;
    transition: all 0.5s ease;
    color: var(--color-primary-light);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    gap: 100px;
    transition: all 0.5s ease;
}

.menu .menu-item {
    padding: 6px;
    font-size: 16px;
    transition: all 0.5s ease;
}

.menu .menu-item:hover {
    padding: 6px;
    font-size: 16px;
    transition: all 0.5s ease;
    transform: translateY(-2px);
    color: #64ffda; 
}

.menu .menu-item .menu-link {
    text-decoration: none;
    color: var(--color-primary-light);
}